<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <listeners>
        <listener class-name="utils.ListnersEx"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="testInChrome">
        <classes>
            <class name="testNgTestCases.AmazonHomePageTestcase"/>
            <class name="testNgTestCases.AmazonProductValidation"></class>
        </classes>
 </test>

</suite>